---
import Layout from '../layouts/Layout.astro';
import CatGallery from '../components/CatGallery.astro';

const tag = Astro.url.searchParams.get('tag') || '';
---

<Layout title={"Cat By Tag - API Showcase"} activePage="cats">
  <main>
    <CatGallery tag={tag} />
  </main>
</Layout>
